.env
*.bak
/bak
/files
/processed
/readme
temp-*
.dockerignore
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
.DS_Store
CLAUDE.md
test_large_file_convert.py
test_large_file_rebuild.py
test_large_file_single.py
.venv
logs/app.log
logs/monitor.log
logs/app.log
*.log
.claude
readme/156342.json
/static/cbl
/sql
.claude/settings.local.json
/.claude
/cache
