name: Conventional Labeler

on:
  pull_request_target:
    types: [opened, edited, synchronize]

jobs:
  label:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Assign Labels from Commits
        uses: bcoe/conventional-release-labels@v1
        with:
          # This maps the commit prefix to your GitHub Labels
          type_labels: |
            {
              "feat": "enhancement",
              "fix": "bug",
              "docs": "documentation",
              "chore": "internal"
            }